<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("./header.ejs") %>
</head>

<body>
    <div class="container">
        <h1 class="mb-2">Host details</h1>
        <a href="/hosts/list_view" class="btn"><i class="fa fa-bars"></i> List view</a>
        <a href="/hosts/getjson/<%= host.uuid %>" class="btn"><i class="fa fa-code"></i> JSON</a>
        <div class="card mt-3;">
            <div class="card-body">
                <h4 class="card-title">
                    <%= host.uuid %>
                </h4>
                <div class="card mt-3">
                    <div class="card-header">
                        <b>Scan details:</b>
                    </div>
                    <div class="card-body">
                        <div>
                            <b>Host object ID:</b>
                            <%= host.uuid %>
                        </div>
                        <div>
                            <b>Scan date:</b>
                            <%= host.scanstats['scandate'] %>
                        </div>
                        <div>
                            <b>Scan time:</b>
                            <%= host.scanstats['scantime'] %>
                        </div>
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-header">
                        <b>Host details:</b>
                    </div>
                    <div class="card-body">
                        <div>
                            <b>IP address:</b>
                            <%= host.ip %>
                        </div>
                        <div>
                            <b>MAC:</b>
                            <% if (host.macaddress) { %>
                                <% if (typeof host.macaddress['addr'] !==null) { %>
                                    <%= host.macaddress['addr'] %>
                                        <% } %>
                                            <% } %>
                        </div>
                        <div>
                            <b>Hostname:</b>
                            <% if (host.hostname) { %>
                                <% if (host.hostname[0]) { %>
                                    <%= host.hostname[0]['name'] %>
                                        <% } %>
                                            <% } %>
                        </div>
                        <div>
                            <b>State:</b>
                            <%= host.state['state'] %>
                        </div>
                        <div>
                            <b>State reason:</b>
                            <%= host.state['reason'] %>
                        </div>
                    </div>
                </div>



                <div class="card mt-3">
                    <div class="card-header">
                        <b>OS match:</b>
                    </div>
                    <div class="card-body">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Accuracy</th>
                                    <th>CPE</th>
                                    <th>CVEs</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% host.osmatch.forEach(match=> { %>
                                    <tr>
                                        <td>
                                            <% if (match.name) { %>
                                                <%= match.name %>
                                                    <% } %>
                                        </td>
                                        <td>
                                            <% if (match.accuracy) { %>
                                                <% if (match.accuracy == '100' ) { %>
                                                    <b style="color:green">
                                                        <%= match.accuracy %>
                                                    </b>
                                                    <% } else{ %>
                                                        <%= match.accuracy %>
                                                            <% } %>
                                                                <% } %>
                                        </td>
                                        <td>
                                            <% if (match.cpe) { %>
                                                <%= match.cpe %>
                                                    <% } %>
                                        </td>
                                        <td>
                                            <% match.cve.forEach(c=> { %>
                                                <b style="color:red">
                                                    <%= c %>
                                                </b>
                                                <% }) %>
                                        </td>

                                    </tr>

                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-header">
                        <b>Ports:</b>
                    </div>
                    <div class="card-body">


                        <!---->
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Port no.</th>
                                    <th>Protocol</th>
                                    <th>State</th>
                                    <th>Service</th>
                                    <th>CPE</th>
                                    <th>CVEs</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% host.ports.forEach(port=> { %>
                                    <tr>
                                        <td>
                                            <% if (port['portid']) { %>
                                                <%= port['portid'] %>
                                                    <% } %>
                                        </td>
                                        <td>
                                            <% if (port['protocol']) { %>
                                                <%= port['protocol'] %>
                                                    <% } %>
                                        </td>
                                        <td>
                                            <% if (port['state']) { %>
                                                <% if (port['state']=='open' || port['state']=='open|filtered' ) { %>
                                                    <b style="color:red">
                                                        <%= port['state'] %>
                                                    </b>
                                                    <% } else{ %>
                                                            <%= port['state'] %>
                                                            <% } %>
                                                                <% } %>
                                        </td>

                                        <td>
                                            <% if (port['service']) { %>
                                                <% if (port['service'].name) { %>
                                                    <%= port['service'].name %>
                                                <% } %>
                                                <% if (port['service'].product) { %>
                                                    <%= port['service'].product %>
                                                <% } %>
                                                <% if (port['service'].version) { %>
                                                    <%= port['service'].version %>
                                                <% } %>
                                                <% if (port['service'].extrainfo) { %>
                                                    <%= port['service'].extrainfo %>
                                                <% } %>
                                            <% } %>
                                        </td>
                                        <td>
                                            <% if (port['cpe']) { %>
                                                <% if (port['cpe'][0]) { %>
                                                    <% if (port['cpe'][0].cpe) { %>
                                                        <%= port['cpe'][0].cpe %>                                                         
                                                    <% } %>
                                                <% } %>
                                            <% } %>

                                        </td>
                                        <td>
                                            <% if (port['cpe']) { %>
                                                <% if (port['cpe'][0]) { %>
                                                    <% if (port['cpe'][0].cve) { %>
                                                        <% port['cpe'][0].cve.forEach(c=> { %>
                                                            <a href="<%= cve_url%><%= c %>"><%= c %></a>
                                                        <% }) %>                                                  
                                                    <% } %>
                                                <% } %>
                                            <% } %>


                                        </td>


                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!---->


                <div class="card mt-3">
                    <div class="card-header">
                        <b>Screengrab:</b>
                    </div>
                    <div class="card-body">
                        <% if (image) { %>
                            <div class="card" style="width: 18rem">
                                <img src="<%= image %>" class="card-img-top" alt="Failed to get image from API">
                                <div class="card-body">
                                    <!--<a href="<%= viewimage %>" class="btn btn-primary">View</a>-->
                                    <a href="<%= viewimage %>" class="btn btn-primary"><i class="far fa-image"></i> View
                                        picture</a>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
            <!--Card body end-->
        </div>
    </div>
</body>

</html>