<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./header.ejs") %>
</head>
<body>
   <div class="container">
     <h1 class="mb-2">Host details</h1>
      <a href="/hosts/list_view" class="btn"><i class="fa fa-bars"></i> List view</a>
      <a href="/hosts/getjson/<%= host._id %>" class="btn"><i class="fa fa-code"></i> JSON</a>
       <div class="card mt-3">
         <div class="card-body">
            <h4 class="card-title"><%= host._id %></h4>
            
            <div class="card mt-3">
                <div class="card-body">
                    <p class="card-text"><b>Scan details:</b></p>
                    <div>
                    <b>Host ID:</b>
                    <%= host._id %>
                    </div>
                    <div>
                    <b>Scan date:</b>
                    <%= host.scanstats['scandate'] %>
                    </div>
                    <div>
                    <b>Scan time:</b>
                    <%= host.scanstats['scantime'] %>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <p class="card-text"><b>Host details:</b></p>
                    <div>
                    <b>IP address:</b>
                    <%= host.ip %>
                    </div>
                    <div>
                    <b>MAC:</b>
                    <%= host.macaddress['addr'] %>
                    </div>
                    <div>
                    <b>Hostname:</b>
                    <%= host.hostname[0]['name'] %>
                    </div>
                    <div>
                        <b>State:</b>
                        <%= host.state['state'] %>
                    </div>
                    <div>
                        <b>State reason:</b>
                        <%= host.state['reason'] %>
                    </div>

                </div>
            </div>


            
            <div class="card mt-3">
                <div class="card-body">
                <p class="card-text"><b>OS:</b></p>
            <ul>
            <% host['osmatch'].forEach(match => { %>
              <li>
                <%= match['name'] %>
                <b>Accuracy: </b>
                <%= match['accuracy'] %>
                <b>%</b>
              </li>
              <% }) %>
            </ul>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
            <p class="card-text"><b>Ports:</b></p>
            <ul>
              <% host.ports.forEach(port => { %>
                 <li>
                  <b><%= port['portid'] %></b>
                  <%= port['protocol'] %>
                  <%= port['service']['name'] %>
                  <%= port['service']['product'] %>
                  <%= port['service']['version'] %>
                  <%= port['service']['extrainfo'] %>
                  <b><%= port['state'] %></b>


                 </li>
            <% }) %>
            </ul>
                </div>
            </div>

        </div>
       </div>

        <!--
       <div class="card mt-3">
        <div class="card-body">
            <p class="card-text"><b>Screengrabs:</b></p>

        
            <div class="card" style="width: 18rem;">
                <img src="./Logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              -->


       
        </div>
  



        </div>
    </div>
        
       
   
   </div>
</body>
</html>