<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./header.ejs") %>
</head>
<body>
   <div class="container">
    <h1 class="mb-2">Host details</h1>
    <a href="/hosts/list_view" class="btn"><i class="fa fa-bars"></i> List view</a>
    <a href="/hosts/getjson/<%= host._id %>" class="btn"><i class="fa fa-code"></i> JSON</a>
    <div class="card mt-3;">
        <div class="card-body">
        <h4 class="card-title"><%= host._id %></h4>
            <div class="card mt-3">
                <div class="card-body">
                    <p class="card-text"><b>Scan details:</b></p>
                    <div>
                    <b>Host ID:</b>
                    <%= host._id %>
                    </div>
                    <div>
                    <b>Scan date:</b>
                    <%= host.scanstats['scandate'] %>
                    </div>
                    <div>
                    <b>Scan time:</b>
                    <%= host.scanstats['scantime'] %>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <p class="card-text"><b>Host details:</b></p>
                    <div>
                    <b>IP address:</b>
                    <%= host.ip %>
                    </div>
                    <div>
                    <b>MAC:</b>
                    <% if (host.macaddress) { %>
                        <% if (typeof host.macaddress['addr'] !== null) { %>
                            <%= host.macaddress['addr'] %>
                        <% } %>
                    <% } %>
                    </div>
                    <div>
                    <b>Hostname:</b>
                    <% if (host.hostname) { %>
                        <% if (host.hostname[0]) { %>
                            <%= host.hostname[0]['name'] %>
                        <% } %>
                    <% } %>
                    </div>
                    <div>
                    <b>State:</b>
                    <%= host.state['state'] %>
                    </div>
                    <div>
                    <b>State reason:</b>
                    <%= host.state['reason'] %>
                    </div>
                </div>
            </div>



            <div class="card mt-3">
                <div class="card-body">
                <p class="card-text"><b>OS:</b></p>
                <ul>
                <% host['osmatch'].forEach(match => { %>
                    <li>
                    <%= match['name'] %>
                    <b>Accuracy: </b>
                    <%= match['accuracy'] %>
                    <b>%</b>
                    </li>
                <% }) %>
                </ul>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                <p class="card-text"><b>Ports:</b></p>
                <ul>
                <% host.ports.forEach(port => { %>
                    <li>
                    <b><%= port['portid'] %></b>
                    <%= port['protocol'] %>
                    <%= port['service']['name'] %>
                    <%= port['service']['product'] %>
                    <%= port['service']['version'] %>
                    <%= port['service']['extrainfo'] %>
                    <b style="color:red"><%= port['state'] %></b>
                    </li>
                <% }) %>
                </ul>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <p class="card-text"><b>Screengrab:</b></p>
                    <% if (image) { %>
                    <div class="card" style="width: 18rem">
                        <img src="<%= image %>" class="card-img-top" alt="Failed to get image from API">
                        <div class="card-body">
                            <a href="<%= viewimage %>"><%= viewimage %></a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div><!--Card body end-->
    </div>
    </div>
</body>
</html>
