<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./header.ejs") %>
</head>
<body>
   <div class="container">
     <h1 class="mb-2">Hosts</h1>
      <a href="/hosts/list_view" class="btn"><i class="fa fa-bars"></i> List view</a>
     <% hosts.forEach(host => { %>
       <div class="card mt-3">
         <div class="card-body">
            <h4 class="card-title"><%= host.ip %></h4>
            <div class="card-subtitle text-muted mb-2">
              <%= host.scanstats['scandate'] %>
              <%= host.scanstats['scantime'] %>
            </div>
            <p class="card-text"><b>MAC address:</b></p>
            <p class="card-text"><%= host.macaddress['addr'] %></p>
            
            <p class="card-text"><b>OS:</b></p>
            <% host['osmatch'].forEach(match => { %>
            <% if (match['accuracy'] == "100") { %>
              <li>
                <%= match['name'] %>
              </li>
            <% } %>
            <% }) %>
            
            <p class="card-text"><b>Ports:</b></p>
            <ul>
              <% host.ports.forEach(port => { %>
              
                <% if (port['state'] == "open") { %>
                  <li>
                  <%= port['portid'] %>
                  <%= port['protocol'] %>
                  <%= port['service']['name'] %>
                  <%= port['service']['product'] %>
                  <%= port['service']['version'] %>
                  <%= port['service']['extrainfo'] %>
                </li>
                <% } %>
            <% }) %>
            </ul>
            <a href="/hosts/details/<%= host._id %>" class="btn btn-primary">Details</a>

        </div>
       </div>
     <% }) %>
   </div>
</body>
</html>