<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./header.ejs") %>
</head>
<body>
   <div class="container">
     <h1 class="mb-2">List view</h1>
      <a href="/" class="btn"><i class="fa fa-th"></i> Card view</a>
   </div>

   <table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>IP</th>
            <th>MAC</th>
            <th>Hostname</th>
            <th>Scan date</th>
            <th>Scan time</th>
            <th>Port</th>
        </tr>
    </thead>
    <tbody>
        <% hosts.forEach(host => { %>
            <tr>
                <td><%= host._id %></td>
                <td><%= host.ip %></td>
                <td><%= host.macaddress['addr'] %></td>
                <td><%= host.hostname[0]['name'] %></td>
                <td><%= host.scanstats['scandate'] %></td>
                <td><%= host.scanstats['scantime'] %></td>
                <td><% host.ports.forEach(port => { %>
                    <%= port['service']['product'] %>
                    <%- "," %>
                  <% }) %></td>
            </tr>
        <% }) %>
    </tbody>
</table>

</body>
</html>